<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recuperar Contraseña</title>
    {% load static %}
    <link rel="manifest" href="{% static 'js/manifest.json' %}">
    <link rel="stylesheet" href="{% static 'css/flexboxgrid.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abel&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Teko&display=swap" rel="stylesheet">
</head>

<body>


    <div class="row center-xs formrp">
        <div class="col-xs-6">
            <p class="letrasBlancas prp">recuperar contraseña</p>
            <form method="POST">
                {% csrf_token %}
                <label class="letrasBlancas" for="id_email">Correo</label> {{form.email}}
                <input type="submit" value="Enviar">
            </form>
        </div>
    </div>



    <script src="{% static 'js/jquery-3.4.1.js'%}"></script>
    <script src="{% static 'js/bootstrap.js'%}"></script>
    <script src="{% static 'js/jquery.validate.js'%}"></script>
    <script src="{% static 'js/app.js' %}"></script>

</body>

</html>