<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recuperar Contraseña</title>
    {% load static %}
    <link rel="manifest" href="{% static 'js/manifest.json' %}">
    <link rel="stylesheet" href="{% static 'css/flexboxgrid.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abel&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Teko&display=swap" rel="stylesheet">
</head>

<body>


    <div class="row center-xs">
        <div class="col-xs-6">
            {% if validlink %}
            <h1 class="letrasBlancas">Nueva contraseña</h1>

            <form method="post">
                {% csrf_token %}

                {{ form.new_password1.errors }}
                <label class="letrasBlancas" for="id_new_password1">Nueva contraseña</label>
                {{ form.new_password1 }}

                {{ form.new_password2.errors }}
                <label class="letrasBlancas" for="id_new_password2">Confirme contraseña</label>
                {{ form.new_password2 }}
                <input class="" type="submit" value="Cambiar mi contraseña" />

            </form>
            {% else %}
            <h1>El enlace ya no sirve</h1>
            {% endif %}
        </div>
    </div>

    <script src="{% static 'js/jquery-3.4.1.js'%}"></script>
    <script src="{% static 'js/bootstrap.js'%}"></script>
    <script src="{% static 'js/jquery.validate.js'%}"></script>
    <script src="{% static 'js/app.js' %}"></script>

</body>

</html>