<!DOCTYPE html>
<html lang="es-cl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ochurus</title>

    {% load static %}
    <!--<link rel="manifest" href="{% static 'js/manifest.json'%}">-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/flexboxgrid.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Cookie&display=swap" rel="stylesheet">
</head>

<body>
    <div class="row end-md center-xs nav-reg">
        <div class="col-xs-12">
            <img src="img/logo.png" alt="" class="Logo">
            <a href="{% url 'usuario:registrar' %}" class="btn btn-danger">Regístrate</a>
        </div>
    </div>
    <div class="row center-xs">
        <div class="col-xs-12">
            <h1 id="nombre">Ochurus</h1>
            <h2 id="subtitulo">TU HERRAMIENTA PARA GANAR</h2>
        </div>
    </div>
    <div class="row center-xs">
        <div class="col-xs-3 letrasBlancas">
                {% if messages %}
                    {% for message in messages %}
                    <h4>{{message}}</h4>
                    {% endfor %}
                {% endif %}
            <form action="{% url 'usuario:index' %}" id="formularioIndex" method="POST">
                <br>
                {% csrf_token %}
                <div class="form-group">
                    <label for="email">Usuario</label>
                    <input class="form-control" type="text" name="username" placeholder="Ingresa Usuario">
                </div>
                <div class="form-group">
                    <label for="contrasena">Contraseña</label>
                    <input class="form-control" type="password" name="password" placeholder="Ingresa Contraseña">
                </div>
                <div>
                    <br>
                    <button class="btn btn-danger" type="submit">Iniciar Sesión</button>
                </div>
            </form>
        </div>
    </div>

    <!--Scripts-->
    <script src="{% static 'js/jquery-3.4.1.js'%}"></script>
    <script src="{% static 'js/bootstrap.js'%}"></script>
    <script src="{% static 'js/jquery.validate.js'%}"></script>
    <script src="{% static 'js/app.js' %}"></script>
</body>

</html>