{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row center-xs">
    <div class="col-xs-12">
        <form class="fuente-form letrasBlancas" id="formularioItem" method="POST" action="{% url 'usuario:item' %}"
            enctype="multipart/form-data" class="post-form">
            {% csrf_token %}
            <label for="nombre">Nombre del Item</label>
            <input type="text" name="nombre">
            <br>
            <label for="foto">Imagen del Item</label>
            <input type="file" name="foto">
            <br>
            <button type="submit" class="btn btn-danger">Subir</button>
        </form>
    </div>
</div>
{% endblock %}