{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row center-xs form-index letrasBlancas">
    <form class="fuente-form" id="formularioRegCampeon" method="POST" 
    {% if is_update %}
    action="{% url 'usuario:campeon_editar' item.id %}"
    {% else %}
    action="{% url 'usuario:regcampeon' %}"
     {% endif %}
        class="post-form" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-danger fuente-form">Guardar</button>
        <a href="{% url 'usuario:regcampeon' %}" class="btn btn-danger" id="btn-volver">Volver</a>
    </form>
</div>
{% endblock %}