{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row center-xs form-index letrasBlancas">
    <form class="fuente-form" id="#" method="POST" action="{% url 'usuario:registrar_campeones' %}"
        class="post-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-danger fuente-form">Registrarse</button>
        <a href="{% url 'usuario:registrar_campeones' %}" class="btn btn-danger" id="btn-volver">Volver</a>
    </form>
</div>