<!DOCTYPE html>
<html lang="es-cl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registro</title>
    {% load static %}
    <link rel="manifest" href="{% static 'js/manifest.json' %}">
    <link rel="stylesheet" href="{% static 'css/flexboxgrid.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Cookie&display=swap" rel="stylesheet">
</head>

<body>
    <div class="row center-xs form-titulo">
        <h1 id="nombre" id="tit-registro">Ochurus</h1>
    </div>
    <div class="row center-xs form-index letrasBlancas">
        <form class="fuente-form" id="formularioRegistrar" method="POST" action="{% url 'usuario:registrar' %}"
            class="post-form">
            {% csrf_token %}
            <label for="username">Nombre de usuario</label>
            <input type="text" name="username">

            <label for="first_name">Nombre</label>
            <input type="text" name="first_name">
            
            <label for="last_name">Apellido</label>
            <input type="text" name="last_name">
            
            <label for="password">Contraseña</label>
            <input type="password" name="password">
            
            <label for="email">Correo Electrónico</label>
            <input type="email" name="email">
            
            <label for="ciudad">Ciudad</label>
            <input type="text" name="ciudad">
            
            <label for="telefono">Telefono</label>
            <input type="text" name="telefono">

            <button type="submit" class="btn btn-danger fuente-form">Registrarse</button>
            <a href="{% url 'usuario:index' %}" class="btn btn-danger" id="btn-volver">Volver</a>
        </form>
    </div>

    <!--Script-->
    <script src="{% static 'js/jquery-3.4.1.js'%}"></script>
    <script src="{% static 'js/bootstrap.js'%}"></script>
    <script src="{% static 'js/jquery.validate.js'%}"></script>
    <script src="{% static 'js/app.js' %}"></script>

</body>

</html>